@use "./components/header.scss";
@use "./components/footer.scss";
@use "./components/page-nav-link-1.scss";
@use "./components/button1.scss";
@use "./components/popup.scss";
@use "./components/room-tile.scss";
@use "./components/up-down-switch.scss";
@use "./components/loading-screen.scss";
@use "./components/room-map-popup.scss";
@use "./pages/NotFound.scss";
@use "./pages/Home.scss";
@use "./pages/Profile.scss";
@use "./pages/LoginRegister.scss";
@use "./pages/EscapeRooms.scss";
@use "./pages/Leaderboard.scss";
@use "./pages/Room.scss";

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Montserrat, sans-serif;
}
.react-body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}
.page-body {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}