.escape-rooms-page {
  width: 100%;
  >.hero {
    min-height: 0;
    max-height: 24em;
    grid-template-columns: 1.2fr 0.8fr;
    h1{
      font-size: 3em;
    }
    p{
      font-size: 1.4em;
      margin-top: 30px;
    }
    >.hero-left {
      margin: 2em 0 2em 3em;
    }
  }
  >.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/images/escape_rooms-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 1;
    z-index: 2;
  }
}
.escape-rooms-form {
  background-color: white;
  margin: 4em 6em 2em 6em;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  >h2 {
    font-size: 2.25em;
    font-weight: 500;
    margin-bottom: 0.25em;
  }
  >p{
    font-size: 1.2em;
  }
  >div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;
    margin-top: 2em;
    z-index: 3;
    >.escape-rooms-form-select {
      flex: 1 0 15em;
    }
  }
}
.escape-rooms-map-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1em 6em 4em 6em;
  z-index: 2;
}
.escape-rooms-page-map {
  z-index: 2;
  width: 100%;
  height: 500px;
  border-radius: 10px
}

.escape-rooms-tiles-empty {
  background-color: #f0eef9;
  padding: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.escape-rooms-tiles {
  background-color: #f0eef9;
  padding: 2em 6em 5em 6em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: flex-start;
  align-items: center;
  row-gap: 1em;

  >.escape-rooms-tiles-sort {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    column-gap: 0.5em;

    >.escape-rooms-tiles-sort-direction {
      width: 1.5em;
    }
  }

  >.escape-rooms-tiles-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1.5em;
  }
}

@media (max-width: 1350px) {
  .escape-rooms-page > .hero::before {
    opacity: 0.2;
  }
  .escape-rooms-page > .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    >.hero-left {
      margin: 2em 3em 0 3em;

      h1{
        font-size: 2.5em;
      }
      p{
        font-size: 1.2em;
        margin-top: 20px;
      }
    }
  }
  .escape-rooms-form {
    margin: 4em 3em 2em 3em;
    h2{
      font-size: 2em;
    }
    p{
      font-size: 1em;
    }
  }
  .escape-rooms-map-section {
    margin: 1em 3em 4em 3em;
  }
}

@media (max-width: 600px) {
  .escape-rooms-page > .hero > .hero-left {
    margin: 2em 1em 0 1em;
    h1{
      font-size: 2.25em;
    }
    p{
      font-size: 1.25em;
      margin-top: 15px;
    }
  }
  .escape-rooms-tiles{
    padding: 2em 2em 5em 2em;
  }
}
