.escape-rooms-page {
  width: 100%;
  >.hero {
    min-height: 0;
    >.hero-left {
      margin: 2em 3em;
    }
  }
  >.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/images/escape_rooms-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 1;
    z-index: 2;
  }
  @media (max-width: 1350px) {
    >.hero::before {
      opacity: 0.2;
    }
  }
}
.escape-rooms-form {
  background-color: white;
  margin: 4em 4em 2em 4em;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  >h2 {
    font-size: 2.25em;
    font-weight: 500;
    margin-bottom: 0.25em;
  }
  >div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;
    margin-top: 2em;
    z-index: 3;
    >.escape-rooms-form-select {
      flex: 1 0 15em;
    }
  }
}
.escape-rooms-map-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1em 4em 4em 4em;
  z-index: 2;
}
.escape-rooms-page-map {
  z-index: 2;
  width: 100%;
  height: 500px;
  border-radius: 10px
}

.escape-rooms-tiles-empty {
  background-color: #f0eef9;
  padding: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.escape-rooms-tiles {
  background-color: #f0eef9;
  padding: 2em 5em 5em 5em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: flex-start;
  align-items: center;
  row-gap: 2em;

  >.escape-rooms-tiles-sort {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;

    >.escape-rooms-tiles-sort-direction {
      width: 1.5em;
    }
  }

  >.escape-rooms-tiles-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 2em;
  }
}
