/* Escape Rooms page */

.escape-rooms-page {
  >.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/images/escape_rooms-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 1;
    z-index: 2;
  }
  @media (max-width: 1350px) {
    >.hero::before {
      opacity: 0.2;
    }
  }
}