.escape-rooms-page {
  >.hero {
    min-height: 0;
    >.hero-left {
      margin: 2em 3em;
    }
  }
  >.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/images/escape_rooms-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 1;
    z-index: 2;
  }
  @media (max-width: 1350px) {
    >.hero::before {
      opacity: 0.2;
    }
  }
}
.escape-rooms-form {
  background-color: white;
  margin: 4em 4em 2em 4em;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  >h2 {
    font-size: 2.25em;
    font-weight: 500;
    margin-bottom: 0.25em;
  }
  >form {
    margin-top: 2em;
  }
}
.escape-rooms-map-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1em 4em 4em 4em;
}
.escape-rooms-page-map {
  width: 100%;
  height: 500px;
  border-radius: 10px
}