.home-page {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}



.hero {
  width: 100%;
  min-height: 50vh;
  margin: 0;
  padding: 50px 0;
  color: #fff;
  background-color: #481b6f;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/images/pocetna-background1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  opacity: 1;
  z-index: 2;
}
.hero-left {
  margin: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  z-index: 3;
  h1 {
    font-size: 3.75em;
    font-weight: 500;
    text-align: left;
  }
  > p {
    text-align: left;
    margin: 40px 0;
    font-size: 1.5em;
  }
  button {
    font-size: 14px;
  }
}



.info {
  max-width: 900px;
  margin: 3em 0;
  font-size: 1.6em;

  p {
    margin: 1em 0;
    line-height: 1.5em;
  }
  strong { font-weight: 500; }
}



$cta-owner-bg-primary: #3d2cad;
$cta-owner-bg-secondary: #3a178e;
.cta-owner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: $cta-owner-bg-primary;
  overflow: hidden;
  .cta-owner-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5em 2em 4em 2em;
    z-index: 3;
    >h2 {
      font-size: 3em;
      font-weight: 500;
      z-index: 3;
      padding-bottom: 0.5em;
    }
    >p {
      font-size: 1.5em;
      z-index: 3;
      line-height: 1.5em;
      strong {
        font-weight: 600;
      }
    }
    >.cta-btn {
      margin-top: 2.5em;
      z-index: 3;
    }
  }
  .cta-owner-circle {
    height: 900px;
    width: 900px;
    background-color: $cta-owner-bg-secondary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
@media (max-width: 950px) {
  .cta-owner {
    background-color: $cta-owner-bg-secondary;
  }
}



.featured {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../assets/images/pocetna-background2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  > h2 {
    font-size: 2.5em;
    padding-top: 1.75em;
    padding-bottom: 0.3em;
    font-weight: 600;
  }
  > p {
    font-size: 1.1em;
    padding-bottom: 2.5em;
  }
  .featured-btn {
    margin: 3em 0;
  }
}
.room-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin: 12px 10%;
}
@media (max-width: 768px) {
  .room-grid { grid-template-columns: 1fr 1fr; }
}
@media (max-width: 560px) {
  .room-grid { grid-template-columns: 1fr; }
}



.map-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 6% 0;

  .map-text {
    flex: 1 0 0;
    margin-left: 6%;
    padding-right: 3em;
    text-align: left;
    h2 {
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 0.5em;
    }
    p {
      font-size: 1.2em;
      line-height: 1.8em;
    }
  }
  .map-content {
    flex: 2 0 0;
    min-height: 450px;
    height: 70vh;
    border-radius: 30px;
    border: 25px solid rgb(246, 241, 255);
    margin-right: 5%;
  }
}

@media (max-width: 1350px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 40px 0;
  }
  .hero::before {
    opacity: 0.2;
  }
  .hero-left {
    align-items: center;
    padding-left: 0;
    h1 {
      text-align: center;
      font-size: 3em;
    }
    p {
      text-align: center;
      font-size: 1.5em;
    }
    a{
      font-size: 0.75em;
    }
  }
  .info {
    width: 70%;
    p {
      font-size: 0.9em;
    }
  }
  .map-section > .map-text {
    margin-left: 0;
    padding: 0 1em 3em 4em;
  }
  .map-section > .map-content {
    margin-left: 5%;
    margin-bottom: 2.5em;
  }
  .featured {
    padding: 0 3%;
    margin-bottom: 3em;
  }
  .cta-owner {
    padding: 0 3%;
    >h2 {
      font-size: 2em;
    }
    >p {
      font-size: 1em;
    }
  }
}

@media (max-width: 800px) {
  .map-section > .map-text {
    flex: 1 0 100%;
    padding: 0 3em 3em 3em;
  }
  .cta-owner {
    padding: 0 2%;
  }
  .cta-owner .cta-owner-content{
    >p{
      font-size: 1.5em;
    }
    >h2{
      font-size: 2.5em;
    }
  }
}
