.leaderboard-page {
  width: 100%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.leaderboard-table {
  border-collapse: collapse;
  border: 1px solid green;
  min-width: 80%;
  td, th {
    border: 1px solid green;
  }
  >thead {
    >tr {
      >th {
        >div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          >.leaderboard-table-sort-switch {
            height: 2em;
            padding: 0.25em;
          }
        }
      }
    }
  }
}
.leaderboard-loader-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
}