$bd-radius: 20px;

.login-background {
  flex: 1 0 0;
  width: 100%;
  background-image: url('../assets/images/pocetna-background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
}
.login-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.login-container {
  z-index: 5;
  background-color: white;
  color: #3d2cad;
  border-top-left-radius: $bd-radius;
  border-bottom-left-radius: $bd-radius;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  >img {
    width: 3em;
  }
  >button {
    border: none;
    border-radius: 9999em;
    background-color: #3d2cad;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    >img {
      width: 1.25em;
      margin-right: 0.5em;
    }
  }
  >p {
    color: black;
  }
}
.register-container {
  background-color: #3d2cad;
  color: white;
  border-top-right-radius: $bd-radius;
  border-bottom-right-radius: $bd-radius;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
  >img {
    width: 4em;
  }
  >button {
    border-radius: 9999em;
    border: none;
    background-color: white;
    color: #3d2cad;
    cursor: pointer;
    transition: 0.2s;
  }
  >button:hover {
    background-color: #3d2cad;
    color: white;
  }
}
.login-container, .register-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em;
  max-width: 35em;

  >h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0.5em 0;
  }
  >p {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.75em;
    margin-bottom: 1.25em;
  }
  >button {
    font-size: 1.25em;
    font-weight: 500;
    padding: 0.65em 1.5em;
    letter-spacing: 2px;
    font-family: Montserrat, sans-serif;
  }
}
@media (max-width: 835px) {
  .login-background {
    flex-direction: column;
    align-items: center;
    padding: 3em;
  }
  .login-container {
    border-radius: $bd-radius $bd-radius 0 0;
  }
  .register-container {
    border-radius: 0 0 $bd-radius $bd-radius;
  }
}




.register-form-container {
  border-radius: $bd-radius;
  >img {
    width: 4em;
  }
}
.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 2em;
  gap: 1.5em;
  color: black;

  >button[type="submit"] {
    border: none;
    border-radius: 9999em;
    background-color: #3d2cad;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    >img {
      width: 1.25em;
      margin-right: 0.5em;
    }
  }
}
.register-form-owner-address {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1em;
  >div {
    flex: 1 0 0;
  }
}
.register-form-element input[type="text"], .register-form-element input[type="email"] {
  width: 100%;
  padding: 0.6em 0.75em;
}
