.profile-page {
  flex: 1 0 0;
  width: 100%;
  background-color: #42d1f3;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5em;
  padding-bottom: 5em;
  >h1 {
    align-self: flex-start;
    background-color: white;
    padding: 0.2em 0.5em 0.2em 1em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 1.5em;
    transition: background-color 0.1s ease;
    user-select: none;
    z-index: 2;
  }
  >h1:hover {
    background-color: #f0df37;
  }
}

.profile-page-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  >div {
    width: max(65vw, 65vh);
    height: max(65vw, 65vh);
    background-color: #f0df37;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: calc(-1 * max(15vw, 15vh));
    transform: translate(-50%, -50%);
  }
}

.profile-page-content {
  background-color: white;
  border-radius: 20px;
  max-width: 80%;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: flex-start;
  padding: 3em;
  z-index: 1;

  >.profile-page-user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    >.profile-page-user-info-logo-circle {
      width: 6em;
      border-radius: 99999em;
    }
    >.profile-page-user-info-text {
      flex: 1 0 0;
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
      row-gap: 0.35em;
      h3 {
        font-size: 1.8em;
        font-weight: 500;
      }
      h4 {
        font-size: 1.1em;
        font-weight: 400;
        color: gray;
      }
    }
    >.profile-page-logout {
      margin-left: 5em;
      cursor: pointer;
      width: 2.5em;
    }
  }

  >.profile-page-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
    user-select: none;
    gap: 1px;

    >.active-tab {
      text-align: center;
      padding: 0.75em 0.75em;
      font-size: 1.1em;
      font-weight: 500;
      color: #42d2f5;
      border-bottom: 2px solid #42d2f5;
    }
    >.inactive-tab {
      text-align: center;
      padding: 0.75em 0.75em;
      font-weight: 500;
      font-size: 1.1em;
      color: #f0de37;
      cursor: pointer;
    }
  }
}

.profile-page-personal-info-tab {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  font-size: 1em;

  >form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;

    .slika-profila{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      gap: 0.5em
    }

    label {
      margin-right: 0.5em;
    }

    input {
      padding: 5px 5px;
      font-size: 1em;
      font-family: Montserrat, sans-serif;
    }

    input#email, input#naziv_tvrtke{
      min-width: 300px;
    }

    .owner-address{
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
    }

    input[type=submit] {
      font-family: Montserrat, sans-serif;
      font-size: 1em;
      font-weight: 500;
      background-color: #42d2f5;
      color: #fff;
      border-radius: 999px;
      width: fit-content;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin-top: 5px;
    }
  }
}

.profile-page-subscription-tab {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;

  >.profile-page-subscription-tab-status {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.1em;
    font-size: 1em;

    >img {
      width: 2em;
      margin-left: 0.75em;
      margin-bottom: 0.1em;
    }
  }
  >.profile-page-subscription-tab-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 0 3em;

    >.profile-page-subscription-tab-option {
      background-color: rgb(241, 241, 241);
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      min-width: 15em;
      max-width: 20em;
      gap: 1.5em;

      div.tip-clanarine {
        width: 100%;
        background-color: #42d2f5;
        padding: 1em 0;
        text-align: center;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      h4{
        font-size: 1.2em;
        font-weight: 600;
        color: white;
      }

      >.profile-page-subscription-tab-option-price {
        color: rgb(18, 18, 18);
        display: inline-flex;
        align-items: flex-start;
        gap: 0.25em;

        s {
          font-size: 0.95em;
          color: rgb(120, 120, 120);
          margin-right: 0.35em;
          position: relative;
          top: 0;
          align-self: flex-end;
        }

        .price-euros {
          font-size: 3em;
          font-weight: 700;
          line-height: 1;
        }

        .price-currency,
        .price-cents {
          font-size: 0.9em;
          font-weight: 600;
          line-height: 1;
          vertical-align: super;
          position: relative;
          align-self: flex-start;
        }
      }

      p{
        font-size: 0.9em;
        color: rgb(80, 80, 80);
        padding: 0 1em;
        text-align: center;
      }

      button{
        font-family: Montserrat, sans-serif;
        font-size: 1em;
        font-weight: 400;
        background-color: #f0de37;
        color: black;
        border-radius: 999px;
        width: fit-content;
        padding: 10px 25px;
        border: none;
        cursor: pointer;
        margin: 0.5em 0 1.5em 0;
      }
    }
  }
}

.profile-page-result-entry-tab {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 5px;
  }

  input#finished {
    margin-right: 0.5em;
  }

  .timePicker {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
  }
  .profile-timepicker-label {
    font-weight: 400;
    color: black;
    font-size: 1em;
  }
  .profile-timepicker-input {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    padding: 8px 10px;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
  }

  input[type=submit] {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 500;
    background-color: #42d2f5;
    color: #fff;
    border-radius: 999px;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
  }
}

  @media (max-width: 768px) {
  .profile-page-personal-info-tab{
    div, div.slika-profila {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
