.profile-page {
  flex: 1 0 0;
  width: 100%;
  background-color: #42d1f3;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5em;
  padding-bottom: 5em;
  >h1 {
    align-self: flex-start;
    background-color: white;
    padding: 0.2em 0.5em 0.2em 1em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 1.5em;
    transition: background-color 0.1s ease;
    user-select: none;
    z-index: 2;
  }
  >h1:hover {
    background-color: #f0df37;
  }
}

.profile-page-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  >div {
    width: max(65vw, 65vh);
    height: max(65vw, 65vh);
    background-color: #f0df37;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: calc(-1 * max(15vw, 15vh));
    transform: translate(-50%, -50%);
  }
}

.profile-page-content {
  background-color: white;
  border-radius: 20px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: flex-start;
  padding: 3em;
  z-index: 1;

  >.profile-page-user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    >.profile-page-user-info-logo-square {
      height: 5em;
      width: 5em;
    }
    >.profile-page-user-info-logo-circle {
      height: 5em;
      width: 5em;
      border-radius: 99999em;
    }
    >.profile-page-user-info-text {
      flex: 1 0 0;
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
      row-gap: 0.35em;
      h3 {
        font-size: 1.8em;
        font-weight: 500;
      }
      h4 {
        font-size: 1.1em;
        font-weight: 400;
        color: gray;
      }
    }
    >.profile-page-logout {
      margin-left: 5em;
      cursor: pointer;
      width: 2.5em;
    }
  }

  >.profile-page-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
    user-select: none;

    >.active-tab {
      text-align: center;
      padding: 1em 0.75em;
      font-size: 1.1em;
      font-weight: 500;
      color: #42d2f5;
      border: 1px solid #42d2f5;
    }
    >.inactive-tab {
      text-align: center;
      padding: 1em 0.75em;
      font-weight: 500;
      font-size: 1.1em;
      color: #f0de37;
      cursor: pointer;
    }
  }
}

.profile-page-tab {
  border: 1px solid deeppink;
}