.room-page {
  width: 100%;
  flex: 1 0 0;
}

.room-page-section-title {
  position: relative;
  color: white;

  >p {
    font-size: 1.2em;
    padding: 4rem 5rem 0.5rem 5rem;
  }
  >h1 {
    font-size: 4.5em;
    padding: 0 5rem 12rem 5rem;
    font-weight: 700;
  }
  >img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
}

.room-page-section-content {
  display: grid;
  grid-template-columns: 65% 30%;
  column-gap: 5%;
  background-color: #f5f5f5;
  padding: 0 5em;
  align-items: stretch;

  >.room-page-section-content-info {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    margin: -5em 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

    >.room-page-gallery {
      width: 100%;
      border-radius: 50px;
      align-self: center;
      margin: 2em 0;
    }
    p {
      font-size: 1.2em;
      padding: 0.4em;
      >strong {
        font-weight: 600;
      }
    }
    p.opis {
      font-weight: 500;
      padding-top: 5px;
    }
    >.room-page-map {
      width: 100%;
      height: 50vh;
      margin: 2em 0 1em 0;
    }
  }

  >.room-page-section-content-side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
    padding-right: 3em;

    h4 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      line-height: 2em;
    }

    >.room-page-owner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      column-gap: 1em;

      h4 {
        font-size: 20px;
        font-weight: 600;
        margin: 8px 0 0 0;
      }

      >img {
        width: 7em;
      }
      >div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }

    >.room-page-leaderboard {
      border-radius: 10px;
      width: 100%;
      background-color: white;
      padding-bottom: 15px;

      >h4 {
        color: white;
        background-color: #3d2cae;
        text-align: center;
        padding: 1em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 15px;
        font-weight: 600;
      }

      li {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        column-gap: 1em;
        margin: 0 20px;

        >.room-page-leaderboard-team {
          flex: 1 0 0;
        }

        >img {
          width: 2.25em;
          padding: 0.5em;
        }
      }
    }
  }
}

.room-page-section-reservation {
  position: relative;

  >img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
  >h4 {
    color: #f2e037;
    font-size: 2em;
    padding: 8rem 5rem 5rem 5rem;
  }
}

@media (max-width: 1350px){
  .room-page-section-title {
    h1 {
      font-size: 3.5em;
      padding-bottom: 4em;
    }
  }
  .room-page-section-content {
    grid-template-columns: 1fr;
    padding: 0 2em;

    >.room-page-section-content-info {
      margin: -10em 0 2em 0;

      >.room-page-map {
        height: 40vh;
      }

      p {
        font-size: 1em;
      }
    }

    >.room-page-section-content-side {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      margin: 20px 5% 0 5%;
      gap: 40px;

      >.upute {
        text-align: center;
      }

      >.room-page-leaderboard{
        width: 70%;
        margin-bottom: 3em;
      }
    }
  }

  .room-page-section-reservation {
    >h4 {
      padding: 5rem;
    }
  }
}
