.button1 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  background-color: #3D2CAE;
  color: #fff;
  border-radius: 999px;
  width: fit-content;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}