.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  user-select: none;
  gap: 2%;
  padding: 0 5%;
  margin: 20px 0;
  border: none;
}
.copyright {
  text-align: center;
  border-top: 2px solid rgb(234, 234, 234);
  padding-top: 15px;
  opacity: 0.5;
  margin-bottom: 3%;
}
.footer-msg {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  p {
    text-align: left;
    margin: 0.5em;
    font-size: 18px;
  }
}
.footer-logo-img {
  height: 3.75em;
  margin: 1em;
}
.footer-fer-logo-img {
  height: 5em;
  margin: 0 3em;
}
@media (max-width: 830px) {
  .footer {
    flex-direction: column;
    p {
      text-align: center;
      font-size: 1em;
    }
  }
  .copyright {
    margin-bottom: 10%;
    font-size: 0.8em;
  }
}