.room-tile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  overflow: hidden;
  padding: 20px;

  img {
    margin-bottom: 20px;
  }

  h3 {
    padding: 0 0 5px 0;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
  }
  p {
    text-align: left;
    padding: 0 0 5px 0;
    font-size: 1.1rem;
    line-height: 2rem;

    strong {
        font-weight: 600;
    }
  }
  .room-tile-button {
    margin-top: 20px;
  }
}