.room-map-popup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  user-select: none;

  >h2 {
    text-align: center;
    align-self: stretch;
  }
  >div {
    align-self: stretch;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    >img {
      width: 300px;
    }
  }
  >h5 {
    font-weight: 400;
    font-size: 15px;
  }
}
