.room-map-popup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  user-select: none;

  >h2 {
    text-align: left;
    align-self: stretch;
  }
  >div {
    align-self: stretch;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    >img {
      width: 300px;
    }
  }
  >h5 {
    font-weight: 400;
    font-size: 15px;
    vertical-align: center;
  }
}

@media (max-width: 800px) {
  .leaflet-popup-content-wrapper{
    width: 200px !important;
  }
  .room-map-popup {
    width: 170px;
    >div {
      justify-content: flex-start;
      >img {
        height: 100px;
        width: auto;
        margin-bottom: 2px;
      }
    }
    >h2{
      font-size: 1.25em;
    }
    >h5{
      font-size: 1em;
    }
  }
}
